1️⃣ Create variables of types: 𝐬𝐭𝐫𝐢𝐧𝐠, 𝐢𝐧𝐭𝐞𝐠𝐞𝐫, 𝐟𝐥𝐨𝐚𝐭, and 𝐛𝐨𝐨𝐥𝐞𝐚𝐧. Print their 𝐯𝐚𝐥𝐮𝐞𝐬 and 𝐭𝐲𝐩𝐞𝐬.

In [ ]:
name = "Ata Jilani"
age = 28
height = 4.5
is_student = True

print(name, type(name))
print(age, type(age))
print(height, type(height))
print(is_student, type(is_student))

Ata Jilani <class 'str'>
28 <class 'int'>
4.5 <class 'float'>
True <class 'bool'>

2️⃣ Make a 𝐥𝐢𝐬𝐭 𝐨𝐟 𝟓 𝐟𝐫𝐮𝐢𝐭𝐬 and print.

In [ ]:
fruits_list: list = ["Mango", "Apple", "Banana", "Orange", "Grapes"]
print("fruits_list:", fruits_list)

fruits_list: ['Mango', 'Apple', 'Banana', 'Orange', 'Grapes']

3️⃣ Create a 𝐭𝐮𝐩𝐥𝐞 𝐨𝐟 𝟑 𝐟𝐚𝐯𝐨𝐫𝐢𝐭𝐞 𝐧𝐮𝐦𝐛𝐞𝐫𝐬 and print.

In [ ]:
favorite_numbers: tuple = (11, 56, 10)
print("favorite_numbers:", favorite_numbers)

favorite_numbers: (11, 56, 10)

4️⃣ Define a 𝐝𝐢𝐜𝐭𝐢𝐨𝐧𝐚𝐫𝐲 with keys: name, age, city – and print 𝐚𝐥𝐥 𝐤𝐞𝐲-𝐯𝐚𝐥𝐮𝐞 𝐩𝐚𝐢𝐫𝐬.

In [ ]:
my_dict = {"name" : "Ata Jilani" , "age" : "28" , "city" : "Gujranwala"}
print("my_dict:", my_dict)

my_dict: {'name': 'Ata Jilani', 'age': '28', 'city': 'Gujranwala'}

5️⃣ Create a 𝐬𝐞𝐭 𝐨𝐟 𝐮𝐧𝐢𝐪𝐮𝐞 𝐡𝐨𝐛𝐛𝐢𝐞𝐬.

In [ ]:
my_hobbies = {"reading", "photography", "cycling", "traveling"}
print("Unique hobbies:", my_hobbies)

Unique hobbies: {'photography', 'traveling', 'reading', 'cycling'}

6️⃣ Make a 𝐥𝐢𝐬𝐭 𝐨𝐟 𝟓 𝐬𝐭𝐮𝐝𝐞𝐧𝐭 𝐧𝐚𝐦𝐞𝐬 and print.

In [ ]:
list_of_students = ["Fatima", "Halima Sadia", "Abdullah", "Asad Ali", "Zain Ali"]
print("list_of_students:", list_of_students)

list_of_students: ['Fatima', 'Halima Sadia', 'Abdullah', 'Asad Ali', 'Zain Ali']

7️⃣ Create a 𝐝𝐢𝐜𝐭𝐢𝐨𝐧𝐚𝐫𝐲 of 3 programming languages with their creators and print them.

In [ ]:
my_dict: dict = {"python": "guido_van_rossum", "java": "james_gosling", "c++": "bjarne_stroustrup"}
print(type(my_dict), "my_dict =", my_dict)

<class 'dict'> my_dict = {'python': 'guido_van_rossum', 'java': 'james_gosling', 'c++': 'bjarne_stroustrup'}

8️⃣ Store 3 𝐟𝐥𝐨𝐚𝐭 numbers and calculate their 𝐚𝐯𝐞𝐫𝐚𝐠𝐞.

In [ ]:
num1 = 11.5
num2 = 8.6
num3 = 9.1
average = (num1 + num2 + num3) / 3
print("Average:", average)

Average: 9.733333333333334

9️⃣ Create a 𝐭𝐮𝐩𝐥𝐞 𝐨𝐟 𝟒 𝐜𝐢𝐭𝐢𝐞𝐬.

In [ ]:
cities = ("Lahore", "Karachi", "Faisalabad", "Gujranwala")
print("Cities:", cities)

Cities: ('Lahore', 'Karachi', 'Faisalabad', 'Gujranwala')

🔟 Make a 𝐬𝐞𝐭 𝐨𝐟 𝐯𝐨𝐰𝐞𝐥𝐬 in a string and print.

In [ ]:
text = "Ai_Hub"
vowels_in_text = {char.lower() for char in text if char.lower() in "aeiou"}
print("Vowels in the string:", vowels_in_text)

Vowels in the string: {'u', 'a', 'i'}